/* ===========================================================================
==== ARTICLE / AGENDA
============================================================================== */
.feature-img {
	background: url(https://placeimg.com/1200/600/animals) center top/cover no-repeat #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 95px;
	height: 600px;
	width: 100%;
	z-index: -10;
}
.article, .agenda-block {
	background: #fff;
	padding: 40px 70px;
	margin-top: 20em;
	margin-bottom: 4em;

	h1, .intro, .credits {
		text-align: center;
	}

	h1 {
		font-size: 53px;
		margin-bottom: .125em;
	}

	h2 {
		text-transform: uppercase;
		margin: 0;
	}

	h3 {
		letter-spacing: .025em;
		color: #8d8d8d;
		margin: 0 0 .25em;
	}

	a {
		color: #e45536;
		border-bottom: 1px dotted #e45536;
		-webkit-transition: background .25s ease, color .25s ease;
		   -moz-transition: background .25s ease, color .25s ease;
			-ms-transition: background .25s ease, color .25s ease;
			 -o-transition: background .25s ease, color .25s ease;
				transition: background .25s ease, color .25s ease;

		&:hover {
			background: #e45536;
			color: white;
		}
	}

	p {
		margin: 0 0 1.5em 0;

		&:first-child {
			margin-top: 2em;
		}
		&:last-child {
			margin-bottom: 2em;
		}
	}
	.drop-cap {
		float: left;
		font-family: HeroicCondensedRegular,Helvetica,Arial,sans-serif;
		font-size: 72px;
		line-height: 51px;
		padding-top: 4px;
		padding-right: 5px;
		font-weight: bold;
	}
	
	ul {
		padding-left: 2em;
		margin-bottom: 1.5em;
	}
	
	ul li:before {
		content: '\00BB';
		color: #e45536;
		font-size: 16px;
		position: relative;
		top: -3px;
		margin-right: .25em;
	}

	ol {
		padding-left: 3.25em;
		margin-bottom: 1.5em;
	}

	.intro {
		font-size: 20px;
		font-style: italic;
		color: #888;
		margin: 0 0 1em;
	}

	.credits {
		font: $author;
		font-size: 24px;
		letter-spacing: .025em;
		margin: 0 0 2em;
	}

	.photo-inline {
		width: 100%;
		position: relative;
		margin: 2em 0;

		img {
			text-align: center;
			width: 100%;
		}

		.photo-credit {
			background: #fff;
			font: 8px "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
			text-transform: uppercase;
			color: #000;
			letter-spacing: .0625em;
			padding: 3px 6px;
			position: absolute;
			bottom: 0;
			right: 0;
			opacity: 0.7;
		}
	}

	.photo-caption {
		font-size: 12px;
		letter-spacing: .025em;
		font-style: italic;
		color: #888;
		margin-top: -3em;
		margin-bottom: 3em;
	}

	blockquote {
		font: $sub-heading;
		font-weight: normal;
		color: #da572d;
		padding: .5em 0;
		border-top: 1px dotted #da572d;
		border-bottom: 1px dotted #da572d;
		margin: 1.5em 0;
	}
}
.agenda-page {
	margin-top: 3em;
}
.agenda-block {
	margin-top: 0;
	margin-bottom: 1em;

	&:first-child {
		margin-top: -3em;
	}

	.photo-inline {
		margin: 1em 0 2em;
	}

	p:first-child {
		margin-top: 0;
	}
}
.trending h1 {
	margin-bottom: .5em;
}
.trending h2 {
	font: $agenda-sub-heading;
	color: #666;
	text-align: center;
	padding: .25em 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
.trending-col {
	margin-top: 1em;

	h3 {
		font-size: 32px;
		line-height: 1.3;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
		height: 40px;
		padding-left: 45px;
		margin-bottom: .5em;
	}

	.seen, .heard, .read {
		background: url(../images/trending-media-sprite.png) no-repeat top left;
	}
	.heard {
		background-position: 0px;
	}
	.read {
		background-position: 0px -90px; 
	}
	.trending-copy {
		height: 666px;
		border-right: 1px solid #dfdfdf;
		padding-right: 1em;
		margin-bottom: 5em;
	}
	&:last-child .trending-copy {
			border-right: none;
			padding-right: 0;
		}

	blockquote {
		font: $trending-col-blockquote;
		color: white;
		text-transform: uppercase;
		background: #73b9ff;
		padding: 0 .125em;
		border: none;
		margin: 0 0 .5em;
	}

	.photo-inline {
		margin: 0 0 1em;
	}
}
.research-col {
	text-align: center;
	padding: 0 1em;
	margin-top: 1em;
	margin-bottom: 5em;

	img {
		display: inline-block;
		border-radius: 50%;
		margin-bottom: .25em;
	}

	h3 {
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
		margin-bottom: 0;
	}

	h4 {
		font: 18px/1 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		color: #8d8d8d;
		margin-top: 0;
	}

	p {
		font: 24px 'HeroicCondensedLight', Helvetica, Arial, sans-serif;
		margin: 1em 0;
	}

	hr {
		width: 225px;
		border: none;
		border-bottom: 1px dotted $issue-theme;
		margin: 0 auto;
	}
}
.events-watch {

	p {
		margin: 1.25em 0;
	}

	.inits {
		font: 18px/1 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
		color: #fff;
		letter-spacing: .0625em;
		background: #000;
		padding: .125em .25em;
	}
}
.back-to-top {
	display: none;
	position: fixed;
	right: 1em;
	bottom: -3em;
	width: 60px;
	font-family: 'HeroicCondensedRegular', Helvetica, Arial,sans-serif;
	font-size: 17px;
	text-align: center;
	color: #bbb;
	text-transform: uppercase;
	margin-bottom: 4em;

	img {
		opacity: 0.4;
    	filter: Alpha(opacity=40);
    	-webkit-transition: opacity .5s ease;
		   -moz-transition: opacity .5s ease;
		    -ms-transition: opacity .5s ease;
		     -o-transition: opacity .5s ease;
		        transition: opacity .5s ease;

    	&:hover {
    		opacity: 1;
    		filter: Alpha(opacity=100);
    	}
	}
}
.social-bar {
	display: none;
	position: fixed;
	right: .5em;
	bottom: 40%;
	width: 60px;
	background: rgba(244, 244, 244, .5);

	li {
		background: url("http://www.jhsph.edu/sebin/p/i/social-sprite.png") center top no-repeat;
		background-position: 17px 17px;
		display: block;
		height: 60px;
		border-bottom: 1px solid #dfdfdf;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;

		&.fb:hover {
			background-color: #3A5998;
			background-position: -28px 17px;
		}

		&.twitter {
			background-position: 17px -26px;

			&:hover {
				background-color: #55ACEE;
				background-position: -28px -26px;
			}
		}
		&.gplus {
			background-position: 17px -67px;

			&:hover {
				background-color: #D50A15;
				background-position: -28px -67px;
			}
		}
		&.linkedin {
			background-position: 17px -112px;

			&:hover {
				background-color: #2175A2;
				background-position: -28px -112px;
			}
		}
		&.email {
			background-position: 17px -153px;

			&:hover {
				background-color: #2CB21E;
				background-position: -28px -153px;
			}
		}
		&.comment {
			background-position: 17px -205px;
			border-bottom: none;

			&:hover {
				background-color: #E45536;
				background-position: -28px -205px;
			}
		}
	}

	a {
		width: 60px;
		height: 60px;
	}
}