/* ===========================================================================
==== CALLOUTS
============================================================================== */
table.callout-2-col {
	border: 1px solid #333;

	tr {
		border-bottom: 1px dotted #aaa;

		&:first-child {
			border-bottom: none;
		}
	}

	th {
		font: $sub-heading;
		text-transform: uppercase;
		color: #fff;
		background: #333;
		padding: 25px 0;
	}

	td {
		padding: 50px;
	}

	td:nth-child(even) {
		padding-left: 0;
	}
}

.gridlock .row .row.callout-2-col-img {
	width: 100%;
	margin: 0;

	img {
		margin-right: 1em !important;
	}

	p {
		padding: 1em;
		margin: 0 !important;
	}
}

.callout-2-col-icon-no-hdr {
	font-size: 16px;
	line-height: 1.25;
	padding: 20px;
	border: 1px solid #000;
	margin-bottom: 2em;

	img {
		max-width: 80px !important;
		margin-bottom: 1em;
	}

	p {
		margin: 0 !important;
	}
}

.callout-3-col-stat {
	text-align: center;
	margin-bottom: 2em;

	h1 {
		font-family: 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
		font-size: 40px;
		color: #fff;
		line-height: 1;
		text-transform: uppercase;
		background-color: $dark-grey;
		padding: .5em 0;
	}
	.text-wrap {
		margin: 2em 1em;
		overflow: auto;
	}
	.col {
		height: 235px;
		padding: .5em 1em;
		border-right: 1px dotted #000;
		margin-bottom: 2em;

		&:last-child {
			border: none;
		}

		.stat {
			font: 70px/1 'HeroicCondensedBlack', Helvetica, Arial, sans-serif;
		}

		p {
			font-size: 16px;

		}
	}
}

.callout-4-col-stat {
	text-align: center;
	margin-bottom: 2em;

	h1 {
		font-family: 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
		font-size: 40px;
		color: #fff;
		line-height: 1;
		text-transform: uppercase;
		background-color: $medium-blue;
		padding: .5em 0;
	}
	.text-wrap {
		margin: 2em 1em;
		overflow: auto;
	}
	.col {
		height: 235px;
		padding: 0 .5em;
		border-right: 1px dotted #000;
		margin-bottom: 2em;

		&:last-child {
			border: none;
		}

		.stat {
			font: 70px/1 'HeroicCondensedBlack', Helvetica, Arial, sans-serif;
		}

		p {
			font-size: 16px;

		}
	}
}