/* ===========================================================================
==== COLOR CLASSES
============================================================================== */

/* BACKGROUNDS
------------------------------------------------------------------------------ */
.bg-light-grey {
	background-color: $light-grey;
}
.bg-medium-blue {
	background-color: $medium-blue;
}

/* COLORS
------------------------------------------------------------------------------ */
.black {
	color: #000;
}
.white {
	color: #fff;
}