/* ===========================================================================
==== HOMEPAGE
============================================================================== */
.home-box {
	background: #fff;
	margin-bottom: 2em;
	
	img {
		width: 100%;

		&:hover {
			opacity: .75;
			filter: Alpha(opacity=75);
		}
	}
}

.details {
	text-align: center;
	padding: 1.5em 1em 0;

	a {
		transition-duration: .125s;
	}
	
	h1 {
		font: $large-title;
		margin-bottom: 0;
	}

	.teaser {
		padding: 0 1em;
	}
}
	
.author {
	font: $author;
	margin-bottom: 1em;
}
	
.details-footer {
	font: $details-ftr;
	color: #666;
	letter-spacing: .025em;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
	margin-top: 1.75em;
	
	a {
		margin-right: 10px;
		display: inline-block;
	}
	
	span {
		display: inline-block;
		border-left: 1px solid #ddd;
		padding: 6px 0 6px 12px;
	}
}

/* RIGHT-COLUMN ADJUSTMENTS
------------------------------------------------------------------------------ */
.right-col .details h1 {
	font-size: 40px
}
.right-col .author {
	font-size: 19px;
}
.right-col .teaser {
	font-size: 18px;
}

/* ADVERTISEMENT
------------------------------------------------------------------------------ */
.ad {
	text-align: center;

	.ad-label {
		font: $ad-box;
		text-transform: uppercase;
		color: #666;
	}
}
.yearlook {
	font-family: 'gentona', helvetica, arial, sans-serif;
	text-align: center;
	color: white;
	background: url(http://www.jhsph.edu/sebin/n/d/yearlook-ad-bg.jpg) center no-repeat;

	.three65 {
		font-size: 100px;
		line-height: .85;
		font-weight: 600;
		padding: 0 .125em .125em;
		margin-top: .5em;
		margin-right: 0.0625em;
		display: inline-block;
		background: rgba(0,0,0,.75);
	}

	.tag {
		font-size: 37px;
		line-height: 1;
		font-weight: 500;
		padding: 0 1em;
		margin-top: 1em;
		margin-bottom: .5em;
		text-shadow: 0 0 40px #000;
	}

	.action {
		font-size: 20px;
		line-height: 1.125;
		font-weight: 100;
		padding: 1.5em 1em;
		background: #000;

		p {
			margin-bottom: 1.5em;
		}

		a {
			font: 16px 'HeroicCondensedLight', Helvetica, Arial, sans-serif;
			letter-spacing: .0625em;
			text-transform: uppercase;
			padding: .5em 1.25em;
			background: #0e6daf;
			-webkit-transition: background .25s ease;
			   -moz-transition: background .25s ease;
				-ms-transition: background .25s ease;
				 -o-transition: background .25s ease;
					transition: background .25s ease;

			&:hover {
				color: #fff;
				background: lighten(#0e6daf, 25%)
			}
		}
	}
}







