/* ===========================================================================
==== HOMEPAGE
============================================================================== */

.home-box {
	background: #fff;
	margin-bottom: 2em;
	
	img {
		width: 100%;

		&:hover {
			opacity: .75;
			filter: Alpha(opacity=75);
		}
	}
}

.details {
	text-align: center;
	padding: 1.5em 1em 0;

	a {
		transition-duration: .125s;
	}
	
	h1 {
		font: $large-title;
		margin-bottom: 0;
	}

	.teaser {
		padding: 0 1em;
	}
}
	
.author {
	font: $author;
	margin-bottom: 1em;
}
	
.details-footer {
	font: $details-ftr;
	color: #666;
	letter-spacing: .025em;
	text-transform: uppercase;
	border-top: 1px solid #ddd;
	margin-top: 1.75em;
	
	a {
		border-right: 1px solid #ddd;
		padding: 6px 18px 6px 22px;
		display: inline-block;
		transition-duration: 1s;
	}
	
	span {
		padding-left: 12px;
	}
}

/* RIGHT-COLUMN ADJUSTMENTS
------------------------------------------------------------------------------ */
.right-col .details h1 {
	font-size: 40px
}
.right-col .author {
	font-size: 18px;
}
.right-col .teaser {
	font-size: 18px;
}