/* ===========================================================================
==== LANDING PAGE
============================================================================== */
.landing-box {
	background: #fff;
 	margin-bottom: 2em;
 	position: relative;

 	img {
 		display: inline-block;

 		&:hover {
			opacity: .75;
			filter: Alpha(opacity=75);
		}
 	}

 	.details {
 		text-align: left;

 		h1 {
 			font: $small-title;
 		}

 		.teaser {
 			line-height: 1.33;
			padding: 0 0 2em;
		}
 	}

 	.author {
 		font-size: 18px;
 		margin-bottom: .75em;
 	}

	.details-footer {
		width: 59%;
		position: absolute;
		bottom: 0;
		margin-bottom: 4px;

		span {
			display: inline-block;
			border: none;
			padding-left: 8px;
			margin-top: 4px;
	 	}
	}
}