// COLORS
$issue-theme: #e45536;

// FONTS
$body: normal 400 100%/1.62 'Chronicle SSm A', 'Chronicle SSm B', serif;
$logo: normal 700 30px/.85 'Gotham SSm A', 'Gotham SSm B', sans-serif;
$nav: 28px/1.62 "HeroicCondensedLight", Helvetica, Arial, sans-serif;
$home-box-title: normal 400 48px 'Chronicle SSm A', 'Chronicle SSm B', serif;
$landing-box-title: normal 400 32px 'Chronicle SSm A', 'Chronicle SSm B', serif;
$author: 21px 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
$details-ftr: 16px 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;