// COLORS

// FONTS
$body: 100%/1.62 serif;
$logo: bold 48px/5 sans-serif;
$nav: 28px/1.62 "HeroicCondensedLight", Helvetica, Arial, sans-serif;
$home-box-title: 48px serif;
$landing-box-title: 40px serif;
$author: 24px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
$details-ftr: 16px sans-serif;