/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
* {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

body {
  background: #dfdfdf;
  font: normal 400 100%/1.62 "Chronicle SSm A", "Chronicle SSm B", serif;
  color: #222;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

/* ===========================================================================
==== HOMEPAGE
============================================================================== */
.home-box {
  background: #fff;
  margin-bottom: 2em;
}
.home-box img {
  width: 100%;
}

.details {
  text-align: center;
  padding: 1em 1.5em 0;
}
.details h1 {
  font: normal 400 48px "Chronicle SSm A", "Chronicle SSm B", serif;
  margin-bottom: 0;
}

.author {
  font: 24px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}

.details-footer {
  font: normal 400 16px "Chronicle SSm A", "Chronicle SSm B", sans-serif;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 2em;
}
.details-footer a {
  border-right: 1px solid #ddd;
  padding: 8px 18px 12px 22px;
  display: inline-block;
}
.details-footer span {
  padding-left: 12px;
}

/* ===========================================================================
==== LANDING PAGE
============================================================================== */
.landing-box {
  background: #fff;
  margin-bottom: 2em;
  position: relative;
}
.landing-box img {
  display: inline-block;
}
.landing-box .details {
  text-align: left;
}
.landing-box .details h1 {
  font: normal 400 32px "Chronicle SSm A", "Chronicle SSm B", serif;
}
.landing-box .author {
  font-size: 18px;
}
.landing-box .details-footer {
  width: 59%;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}
.landing-box .details-footer span {
  display: inline-block;
  padding-left: 8px;
  margin-top: 4px;
}

/* ===========================================================================
==== HEADER
============================================================================== */
.header {
  width: 100%;
  background: #000;
  font: 28px/1.62 "HeroicCondensedLight", Helvetica, Arial, sans-serif;
  color: #fff;
  padding: 1.1em 0;
  margin-bottom: 2em;
}

/* LOGO
------------------------------------------------------------------------------ */
.logo-home {
  display: inline-block;
  background: #e45536;
  font: 700 30px/.9em sans-serif;
  letter-spacing: .05em;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 12px;
  position: absolute;
  top: 0;
}
.logo-home span {
  margin: -5px;
}
.logo-home .issue {
  display: block;
  font: normal 12px/1em sans-serif;
  margin: 0 0 0 -4px;
}

/* FROM ANIMATE.CSS - http://daneden.github.io/animate.css/
---------------------------------------------------------*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*---------------------------------------------------------*/
.one {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.two {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.three {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.four {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.five {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.six {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.seven {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.eight {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.nine {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.ten {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.eleven {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.twelve {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.thirteen {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.fourteen {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.fifteen {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.sixteen {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.seventeen {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}

.eighteen {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}

.nineteen {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}

.twenty {
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}

.twenty-one {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.twenty-two {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

.twenty-three {
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
}

.twenty-four {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
}

.twenty-five {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}

/* NAVIGATION
------------------------------------------------------------------------------ */
.nav {
  position: relative;
}

.header ul {
  float: right;
  position: relative;
  z-index: 0;
}

.header li {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 2em;
}

.header li:last-child {
  margin-right: 0;
}

a.search {
  display: inline-block;
  background: #e45536;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: relative;
  top: 3px;
}
a.search img {
  margin-top: .23em;
  margin-left: .2em;
}

/* SEARCH
------------------------------------------------------------------------------ */
.search-wrapper {
  position: absolute;
  right: 0;
  z-index: 10;
}

form {
  background: #e45536;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: 0;
  overflow: hidden;
}
form:hover {
  width: 252px;
}
form:hover label {
  background: #e45536;
}

label {
  width: 213px;
  background: 0 0;
  position: absolute;
  right: 36px;
  top: 0;
  text-align: right;
}
label:focus {
  outline: none;
}

input {
  float: left;
  width: 213px;
  height: auto;
  background: #e45536;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  padding: 3px 15px;
  position: relative;
  z-index: 30;
}
input:focus {
  outline: none;
}

button {
  background: url(../images/search-icon.png) 7px 7px no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  position: absolute;
  right: 0;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

/* ===========================================================================
==== FOOTER
============================================================================== */
.gridlock .footer {
  background: #000;
  font: 28px/1.62 "HeroicCondensedLight", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #aaa;
  padding: 45px 0;
}
.gridlock .footer .nav {
  float: right;
}
.gridlock .footer li {
  float: left;
  margin-right: 2.75em;
}
.gridlock .footer li:last-child {
  margin-right: 0;
}
.gridlock .footer li a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .0625em;
}
.gridlock .footer p {
  float: right;
  font-size: 16px;
  letter-spacing: .0415em;
  margin-top: 1em;
}
.gridlock .footer p a:hover {
  color: #e45536;
}

/* ===========================================================================
==== MEDIA QUERIES
============================================================================== */
/* VERY LARGE SCREENS (LARGE DISPLAYS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 1220px) {
  .header {
    font-size: 33px;
    padding: .75em 0;
  }
  .header form {
    top: 10px;
  }
  .header li {
    margin-right: 2.25em;
  }

  .landing-box .details h1 {
    font-size: 40px;
  }

  .landing-box .author {
    font-size: 24px;
  }

  .landing-box .details-footer {
    width: 69%;
    margin-bottom: 8px;
  }
  .landing-box .details-footer span {
    margin-top: 8px;
  }

  .gridlock .footer li {
    margin-right: 3.5em;
  }
  .gridlock .footer li a {
    font-size: 22px;
  }

  .gridlock .footer p {
    font-size: 17px;
    letter-spacing: .05em;
    margin-top: .5em;
  }
}
/* LARGE SCREENS (DESKTOP/LAPTOP)
------------------------------------------------------------------------------ */
@media screen and (max-width: 1219px) {
  .landing-box .details .teaser {
    font-size: 14px;
  }

  .landing-box .details-footer {
    font-size: 12px;
  }
}
/* MEDIUM SCREENS (TABLETS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 740px) and (max-width: 979px) {
  .header {
    font-size: 20px;
    margin-bottom: 3em;
  }
  .header .logo-home {
    font-size: 26px;
  }
  .header form {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 3px;
  }
  .header form button {
    background-position: 9px 5px;
  }
  .header ul {
    padding-left: 3em;
  }

  .footer .nav {
    float: left;
    margin-top: 1.5em;
  }

  .footer ul {
    display: inline-block;
  }

  .gridlock .footer li {
    margin-right: 3.7em;
  }

  .gridlock .footer p {
    float: none;
    text-align: center;
  }
}
/* SMALL SCREENS (PHONES)
------------------------------------------------------------------------------ */
@media screen and (max-width: 739px) {
  .landing-box .details {
    text-align: center;
  }

  .landing-box .teaser {
    margin-bottom: 3em;
  }

  .landing-box .details-footer {
    width: 88%;
  }

  .footer-nav-wrapper {
    text-align: center;
  }

  .footer .nav {
    margin-top: 1.5em;
    float: none !important;
    display: inline-block;
  }

  .gridlock .footer li {
    margin-right: 1.75em;
  }
  .gridlock .footer li a {
    font-size: 16px;
  }

  .gridlock .footer p {
    float: none;
    display: inline-block;
    text-align: center;
    font-size: 13px;
  }
}
/* VERY SMALL SCREENS (PHONES)
------------------------------------------------------------------------------ */
@media screen and (max-width: 499px) {
  .gridlock .row {
    width: 95%;
  }

  .gridlock .footer li a {
    font-size: 12px;
  }

  .gridlock .footer p {
    font-size: 17px;
  }
}

/*# sourceMappingURL=main.css.map */
