/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
* {
  -webkit-transition: color .25s ease, opacity .33s ease;
  -moz-transition: color .25s ease, opacity .33s ease;
  -o-transition: color .25s ease, opacity .33s ease;
  transition: color .25s ease, opacity .33s ease;
}

body {
  background: #dfdfdf;
  font: normal 400 125%/1.62 "Chronicle SSm A", "Chronicle SSm B", serif;
  color: #222;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font: normal 400 48px "Chronicle SSm A", "Chronicle SSm B", serif;
}

h2 {
  font: bold 36px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
}

h3 {
  font: 28px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #e45536;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

.main {
  padding-top: 10em;
}

/* ===========================================================================
==== HEADER
============================================================================== */
.header {
  width: 100%;
  height: 100px;
  background: #000;
  font: 28px "HeroicCondensedLight", Helvetica, Arial, sans-serif;
  position: absolute;
  z-index: 10;
}

.header > .row > div {
  position: relative;
}

/* LOGO
------------------------------------------------------------------------------ */
.logo-home {
  width: 173px;
  display: inline-block;
  background: #e45536;
  font: normal 700 30px/0.85 "Gotham SSm A", "Gotham SSm B", sans-serif;
  letter-spacing: .0125em;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 12px;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-home span {
  margin: -5px;
}
.logo-home .issue {
  display: block;
  font-size: 10px;
  font-weight: 400;
  margin: 2px 0 0 -3px;
}

/* FROM ANIMATE.CSS - http://daneden.github.io/animate.css/
---------------------------------------------------------*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*---------------------------------------------------------*/
.one {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.two {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.three {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.four {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.five {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.six {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.seven {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.eight {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.nine {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.ten {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.eleven {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.twelve {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.thirteen {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.fourteen {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.fifteen {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.sixteen {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.seventeen {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}

.eighteen {
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}

.nineteen {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}

.twenty {
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}

.twenty-one {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.twenty-two {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

.twenty-three {
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
}

.twenty-four {
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
}

.twenty-five {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}

/* NAVIGATION
------------------------------------------------------------------------------ */
.nav-search-wrapper {
  position: relative;
}

.gridlock .row .nav {
  margin-left: 3em;
}

.header .nav a {
  float: left;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  padding: 1.375em 1em 1.675em;
  position: relative;
  top: 0;
  display: block;
  -webkit-transition: padding .2s ease, top .2s ease;
  -moz-transition: padding .2s ease, top .2s ease;
  -ms-transition: padding .2s ease, top .2s ease;
  -o-transition: padding .2s ease, top .2s ease;
  transition: padding .2s ease, top .2s ease;
}
.header .nav a:hover, .header .nav a:focus, .header .nav a.active:hover, .header .nav a.active:focus {
  background: #20202e;
  color: #e45536;
  border-bottom: 2px solid #e45536;
  top: -23px;
  padding-bottom: 2.8em;
}
.header .nav a:hover span, .header .nav a:focus span, .header .nav a.active:hover span, .header .nav a.active:focus span {
  display: block;
  filter: alpha(opacity=100);
  opacity: 1;
  margin-top: -1em;
}
.header .nav a.agenda span {
  margin-left: 1px;
}
.header .nav a.briefings span {
  margin-left: -5px;
}
.header .nav a.forum span {
  margin-left: -6px;
}
.header .nav a.features span {
  margin-left: 22px;
}
.header .nav a.departments span {
  margin-left: 36px;
}
.header .nav a span {
  font: 16px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
  line-height: .9;
  letter-spacing: .0625em;
  color: #bbb;
  text-align: center;
  display: none;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 20;
  padding-top: 26px;
}
.header .nav a.active {
  background: #20202e;
  color: #e45536;
  padding-bottom: 1.2em;
}

/* SEARCH
------------------------------------------------------------------------------ */
.search-wrapper {
  position: absolute;
  right: 0;
  top: 1.125em;
  z-index: 20;
}

form {
  background: #e45536;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: 0;
  overflow: hidden;
  -webkit-transition: width .33s ease;
  -moz-transition: width .33s ease;
  -o-transition: width .33s ease;
  transition: width .33s ease;
}
form:hover {
  width: 252px;
}
form:hover label {
  background: #e45536;
}

label {
  width: 213px;
  background: 0 0;
  position: absolute;
  right: 36px;
  top: 0;
  text-align: right;
}
label:focus {
  outline: none;
}

input {
  float: left;
  width: 213px;
  height: auto;
  background: #e45536;
  font-size: 20px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  padding: 3px 15px;
  position: relative;
  z-index: 30;
}
input:focus {
  outline: none;
}

button {
  background: url(http://www.jhsph.edu/sebin/h/w/search-icon.png) 7px 7px no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  position: absolute;
  right: 0;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

/* ===========================================================================
==== HOMEPAGE
============================================================================== */
.home-box {
  background: #fff;
  margin-bottom: 2em;
}
.home-box img {
  width: 100%;
}
.home-box img:hover {
  opacity: .75;
  filter: Alpha(opacity=75);
}

.details {
  text-align: center;
  padding: 1.5em 1em 0;
}
.details a {
  transition-duration: .125s;
}
.details h1 {
  font: normal 400 48px "Chronicle SSm A", "Chronicle SSm B", serif;
  margin-bottom: 0;
}
.details .teaser {
  padding: 0 1em;
}

.author {
  font: 21px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
  margin-bottom: 1em;
}

.details-footer {
  font: 15px "HeroicCondensedRegular", Helvetica, Arial, sans-serif;
  color: #666;
  letter-spacing: .025em;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  margin-top: 1.75em;
}
.details-footer a {
  border-right: 1px solid #ddd;
  padding: 6px 18px 6px 22px;
  display: inline-block;
  transition-duration: 1s;
}
.details-footer span {
  padding-left: 12px;
}

/* RIGHT-COLUMN ADJUSTMENTS
------------------------------------------------------------------------------ */
.right-col .details h1 {
  font-size: 40px;
}

.right-col .author {
  font-size: 18px;
}

.right-col .teaser {
  font-size: 18px;
}

/* ===========================================================================
==== LANDING PAGE
============================================================================== */
.landing-box {
  background: #fff;
  margin-bottom: 2em;
  position: relative;
}
.landing-box img {
  display: inline-block;
}
.landing-box img:hover {
  opacity: .75;
  filter: Alpha(opacity=75);
}
.landing-box .details {
  text-align: left;
}
.landing-box .details h1 {
  font: normal 400 32px "Chronicle SSm A", "Chronicle SSm B", serif;
}
.landing-box .details .teaser {
  line-height: 1.33;
  padding: 0;
}
.landing-box .author {
  font-size: 18px;
  margin-bottom: .75em;
}
.landing-box .details-footer {
  width: 59%;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}
.landing-box .details-footer span {
  display: inline-block;
  padding-left: 8px;
  margin-top: 4px;
}

/* ===========================================================================
==== FOOTER
============================================================================== */
.gridlock .footer {
  background: #000;
  font: 28px "HeroicCondensedLight", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #aaa;
  padding: 45px 0;
}
.gridlock .footer .nav {
  float: right;
}
.gridlock .footer li {
  float: left;
  margin-right: 2.75em;
}
.gridlock .footer li:last-child {
  margin-right: 0;
}
.gridlock .footer li a {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .0625em;
}
.gridlock .footer li a:hover {
  color: #e45536;
}
.gridlock .footer p {
  float: right;
  font-size: 16px;
  letter-spacing: .0415em;
  margin-top: 1em;
}

/* ===========================================================================
==== RESPONSIVE-NAV
============================================================================== */
/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.js .nav-collapse-0.opened {
  max-height: 180px !important;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #fff;
  float: right;
  height: 25px;
  padding-right: 25px;
  margin-top: 30px;
  margin-right: 1.5em;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background: url("http://www.jhsph.edu/sebin/y/j/menu-icon.gif") no-repeat;
}

@media screen and (min-width: 740px) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
/* ===========================================================================
==== MEDIA QUERIES
============================================================================== */
/* VERY LARGE SCREENS (LARGE DISPLAYS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 1220px) {
  .header .nav a {
    font-size: 34px;
    padding: 1em 1.125em 1.34em;
  }
  .header .nav a:hover, .header .nav a:focus, .header .nav a.active:hover, .header .nav a.active:focus {
    padding-bottom: 2.25em;
  }
  .header .nav a.agenda span {
    margin-left: 7px;
  }
  .header .nav a.briefings span {
    margin-left: 3px;
  }
  .header .nav a.forum span {
    margin-left: -1px;
  }
  .header .nav a.features span {
    margin-left: 31px;
  }
  .header .nav a.departments span {
    margin-left: 49px;
  }
  .header .nav a.active {
    padding-bottom: 0.95em;
  }

  .search-wrapper {
    top: 1em;
  }

  form:hover {
    width: 270px;
  }

  form label, form input {
    width: 235px;
  }

  .landing-box .details h1 {
    font-size: 40px;
  }

  .landing-box .author {
    font-size: 24px;
  }

  .landing-box .details-footer {
    width: 69%;
    margin-bottom: 8px;
  }
  .landing-box .details-footer span {
    margin-top: 8px;
  }

  .article, .agenda-block {
    padding: 40px 100px;
  }
  .article h1, .agenda-block h1 {
    font-size: 64px;
  }
  .article h3, .agenda-block h3 {
    font-size: 32px;
  }
  .article ul li:before, .agenda-block ul li:before {
    margin-right: .5em;
  }
  .article blockquote, .agenda-block blockquote {
    font-size: 42px;
  }
  .article .credits, .agenda-block .credits {
    font-size: 28px;
  }
  .article .photo-caption, .agenda-block .photo-caption {
    font-size: 14px;
    margin-top: -2.5em;
  }

  .trending-col .trending-copy {
    height: 700px;
  }

  .research-col p {
    font-size: 28px;
  }

  .gridlock .footer li {
    margin-right: 3.5em;
  }
  .gridlock .footer li a {
    font-size: 22px;
  }

  .gridlock .footer p {
    font-size: 17px;
    letter-spacing: .05em;
    margin-top: .5em;
  }
}
/* LARGE SCREENS (DESKTOP/LAPTOP)
------------------------------------------------------------------------------ */
@media screen and (max-width: 1219px) {
  .landing-box .details-footer {
    font-size: 14px;
  }
}
/* MEDIUM SCREENS (TABLETS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 740px) and (max-width: 979px) {
  .gridlock .row .nav {
    margin-left: 5.5em;
  }

  .header {
    height: 80px;
  }
  .header .logo-home {
    width: 145px;
    font-size: 24px;
    letter-spacing: .0625em;
  }
  .header .nav a {
    font-size: 22px;
    padding: 1.25em 1em 2.125em;
  }
  .header .nav a:hover, .header .nav a:focus, .header .nav a.active:hover, .header .nav a.active:focus {
    top: -14px;
    padding-bottom: 3em;
  }
  .header .nav a:hover span, .header .nav a:focus span, .header .nav a.active:hover span, .header .nav a.active:focus span {
    margin-top: -.75em;
  }
  .header .nav a.agenda span {
    margin-left: -4px;
  }
  .header .nav a.briefings span {
    margin-left: -9px;
  }
  .header .nav a.forum span {
    margin-left: -8px;
  }
  .header .nav a.features span {
    margin-left: 14px;
  }
  .header .nav a.departments span {
    margin-left: 26px;
  }
  .header .nav a span {
    font-size: 15px;
  }
  .header .nav a.active {
    padding-bottom: 1.4em;
  }

  .search-wrapper {
    top: .65em;
  }

  form:hover {
    width: 270px;
  }

  form label, form input {
    width: 235px;
  }

  .landing-box .details {
    padding: .5em;
  }
  .landing-box .details .author {
    margin-bottom: .5em;
  }
  .landing-box .details .teaser {
    font-size: 16px;
  }

  .main {
    padding-top: 8em;
  }

  .feature-img {
    top: 78px;
  }

  .right-col .details h1 {
    font-size: 48px;
  }

  .right-col .author, .right-col .teaser {
    font-size: 21px;
  }

  .article {
    padding: 40px;
  }
  .article h1 {
    font-size: 42px;
  }
  .article .credits {
    margin-bottom: 2em;
  }
  .article .photo-caption {
    font-size: 13px;
    margin-top: -2.75em;
  }

  .trending-col .trending-copy {
    height: 1050px;
  }

  .footer .nav {
    float: left;
    margin-top: 1.5em;
  }

  .footer ul {
    display: inline-block;
  }

  .gridlock .footer li {
    margin-right: 3.7em;
  }

  .gridlock .footer p {
    float: none;
    text-align: center;
  }
}
/* SMALL SCREENS (PHONES)
------------------------------------------------------------------------------ */
@media screen and (max-width: 739px) {
  .gridlock .row {
    width: 100%;
  }
  .gridlock .row .nav {
    margin-left: 6.5em;
  }

  .header {
    height: 72px;
  }
  .header .logo-home {
    width: 141px;
    font-size: 22px;
    letter-spacing: .09em;
  }
  .header .nav ul {
    float: left;
  }
  .header .nav a {
    font-size: 22px;
    padding: .25em 0;
  }
  .header .nav a:hover, .header .nav a:focus, .header .nav a.active:hover, .header .nav a.active:focus {
    background: inherit;
    color: #ccc;
    border: none;
    top: 0;
    padding: .25em 0;
  }
  .header .nav a:hover span, .header .nav a:focus span, .header .nav a.active:hover span, .header .nav a.active:focus span {
    display: none;
  }
  .header .nav a.active {
    background: inherit;
    color: inherit;
    padding-bottom: .25em;
  }

  .nav-collapse li {
    float: left;
    width: 96%;
    background: #e45536;
    border-bottom: 1px solid black;
    padding-left: .5em;
  }

  .search-wrapper {
    top: .65em;
  }

  form:hover {
    width: 225px;
  }

  form label, form input {
    width: 190px;
  }

  .main {
    padding-top: 8em;
  }

  .feature-img {
    top: 70px;
  }

  .details h1 {
    font-size: 28px;
  }

  .landing-box .details {
    padding: .25em;
  }
  .landing-box .details .author {
    margin-bottom: .5em;
  }
  .landing-box .details .teaser {
    font-size: 16px;
    padding: 0 0 2em;
  }

  .landing-box .details-footer {
    width: 88%;
  }

  .footer-nav-wrapper {
    text-align: center;
  }

  .article, .agenda-block {
    padding: 40px;
  }
  .article h1, .agenda-block h1 {
    font-size: 40px;
  }
  .article .intro, .agenda-block .intro {
    font-size: 18px;
  }
  .article .credits, .agenda-block .credits {
    font-size: 21px;
    margin-bottom: 1.5em;
  }
  .article blockquote, .agenda-block blockquote {
    font-size: 27px;
  }

  .agenda-block .photo-inline {
    margin-top: 0;
  }

  .trending-col .trending-copy {
    height: inherit;
    border-right: none;
    padding-right: 0;
    margin-bottom: 2em;
  }

  .trending-col:last-child .trending-copy {
    margin-bottom: 3em;
  }

  .footer .nav {
    margin-top: 1.5em;
    float: none !important;
    display: inline-block;
  }

  .gridlock .footer li {
    margin-right: 1.75em;
  }
  .gridlock .footer li a {
    font-size: 16px;
  }

  .gridlock .footer p {
    float: none;
    display: inline-block;
    text-align: center;
    font-size: 13px;
  }
}
/* BETWEEN SMALL AND VERY SMALL SCREENS
------------------------------------------------------------------------------ */
@media screen and (min-width: 500px) and (max-width: 712px) {
  .landing-box img {
    padding: .33em 0 .33em .33em;
  }
}
/* VERY SMALL SCREENS (PHONES)
------------------------------------------------------------------------------ */
@media screen and (max-width: 499px) {
  .gridlock .row {
    width: 100%;
  }
  .gridlock .row .nav {
    margin-left: 5.5em;
  }
  .gridlock .row .landing-box {
    text-align: center;
  }
  .gridlock .row .landing-box img {
    float: none;
    margin-top: 1em;
  }
  .gridlock .row .landing-box .details {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .gridlock .row .landing-box .details-footer {
    width: 96%;
  }

  .nav-collapse li {
    width: 81%;
  }

  .feature-img {
    height: 400px;
  }

  .article {
    margin-top: 15.5em;
  }
  .article p, .article ul, .article ol {
    font-size: 18px;
  }
  .article ul {
    padding-left: .75em;
  }
  .article ol {
    padding-left: 1.75em;
  }
  .article blockquote {
    font-size: 30px;
  }

  .social-bar {
    width: 50px;
  }
  .social-bar a {
    width: 50px;
    height: 60px;
  }
  .social-bar li {
    background-position-x: 12px;
  }
  .social-bar li.fb:hover, .social-bar li.twitter:hover, .social-bar li.gplus:hover, .social-bar li.linkedin:hover, .social-bar li.email:hover, .social-bar li.comment:hover {
    background-position-x: -32px;
  }

  .gridlock .footer li a {
    font-size: 12px;
  }

  .gridlock .footer p {
    font-size: 17px;
  }
}

/*# sourceMappingURL=main.css.map */
