/* Updated 12.29.2014 - Jonathan */


/* Main Wrapper
------------------------------------------------------------------------------ */

div.modFlashContainer {
	margin: 0 auto !important;
	z-index: 0;
}


/* Captions
------------------------------------------------------------------------------ */

.modFlashContainer .mag-2014-text {
	display: inline-block;
	font-size: 16px;
	line-height: 1.33;
	margin-top: .5em;
}


/* Slideshow / Image Gallery Controls
------------------------------------------------------------------------------ */

/* Control location & background */
.mag-2014-text_controllers {
	background: #000;
	background: rgba(0, 0, 0, .66);
	width: 820px;
	height: 33px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: -210px;
	z-index: 10;
}
.mag-2014-text_options {
	display: inline-block;
	padding-left: 1em !important;
}
.agenda-block ul li.mag-2014-text_option, .article ul li.mag-2014-text_option {
	float: left;
	padding: 0;
	margin-right: 1em;
}
.mag-2014-text_numberbuttons {
	text-align: center;
	width: 66%;
	margin: 0 auto;
	position: relative;
	z-index: 50;
}
/*Sets baseline styles for next and previous buttons.*/
.mag-2014-text_numberbuttons a {
	display: block;
	width: 12px;
	height: 0px;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	background: rgb(175,175,175); /* The Fallback */
	background: rgba(255, 255, 255, .50);
	filter: alpha(opacity=40);
	border-radius: 100%;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, .75);
}
.mag-2014-text_numberbuttons a:hover {
	background: rgb(255, 255, 255); /* The Fallback */
	background: rgba(255, 255, 255, .75);
}
.mag-2014-text_numberbuttons a.optionSelected {
	background: rgba(255, 255, 255, .75);
}
.article ul li.mag-2014-text_option:before {
	content: none;
}
.mag-2014-text_controls {
	display: inline-block;
	width: 100%;
	padding: 0 2em;
	position: relative;
	top: -3.5em;
}
.agenda-block ul.mag-2014-text_controls .next, .article ul.mag-2014-text_controls .next {
	float: right;
	margin-right: 0;
}


/* Next and Previous buttons
------------------------------------------------------------------------------ */

/*Sets baseline styles for next and previous buttons.*/
.mag-2014-text_controls .previous a, .mag-2014-text_controls .next a {
	display: block;
	width: 15px;
	border: none;
	height: 0;
	margin: 18px 0 0;
	padding: 13px 0 0 0;
	overflow: hidden;
	background: url('http://magazine.jhsph.edu/sebin/d/o/icon_feature_nav.png')  no-repeat left top;
	-webkit-transition: none;
 	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	}

/*Next Previous specific adjustments */
.mag-2014-text_controls .previous a:hover {
	background-position: left bottom  }

.mag-2014-text_controls .next a {
	background-position: right top  }

.mag-2014-text_controls .next a:hover {
	background-position: right bottom  }


/* MEDIUM SCREENS (TABLETS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 740px) and (max-width: 979px) {
	div.modFlashContainer {
		width: 100% !important;
	}
	div.modFlashContainer img {
		width: 100%;
	}
	.mag-2014-text_controllers {
		width: 100%;
		top: -340px;
	}
	.mag-2014-text_controls .previous a, .mag-2014-text_controls .next a {
		margin-top: 13px;
	}
	
	.mag-2014-text_numberbuttons a{
		margin-top: 7px;
	}

}