/* ===========================================================================
==== JQUERY TIMELINR
============================================================================== */
.timeline-wrapper {
	padding: 60px 100px;
	background: #333;
	width: 1000px;
	margin: 1.5em auto;
	margin-left: -100px;
}
.timeline-wrapper h1 {
	font: 40px/1 'HeroicCondensedHeavy', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	padding: .5em 0;
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #fff;
	margin-bottom: 1.5em;
}
#timeline {
	width: 800px;
	height: 335px;
	overflow: hidden;
	position: relative;
}
	#dates {
		width: 800px;
		height: 60px;
		overflow: hidden;
		padding: 0;
		margin: 0;
		margin-left: 52px !important;
		background: url('http://www.jhsph.edu/sebin/g/y/dot.gif') left 4px repeat-x;
	}
		#dates li {
			list-style: none;
			float: left;
			width: 100px;
			height: 50px;
			font-size: 24px;
			text-align: center;
			padding-top: 20px;
			background: url('http://www.jhsph.edu/sebin/r/r/biggerdot.png') center top no-repeat;
			position: relative;
		}
			#dates li:before {
				content: none;
			}
			#dates a {
				font: 24px/1 'HeroicCondensedRegular', Helvetica, Arial, sans-serif;
				color: #fff;
				border: none;
			}
				#dates a:hover {
					background-color: #468c00;
					padding: 2px 5px;
				}
			#dates .selected {
		        background-color: #468c00;
				padding: 2px 5px;
			}
				#dates .selected:before {
					content: '';
					width: 0; 
					height: 0; 
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid #468c00;
					position: absolute;
					top: 15px;
					left: 43px;
				}
	
	#issues {
		width: 800px;
		height: 250px;
		overflow: hidden;
	}	
		#issues li {
			width: 800px;
			height: 250px;
			list-style: none;
			float: left;
		}
			#issues li:before {
				content: none;
			}
			#issues li.selected img {
				-webkit-transform: scale(1.1,1.1);
				-moz-transform: scale(1.1,1.1);
			    -o-transform: scale(1.1,1.1);
			    -ms-transform: scale(1.1,1.1);
			    transform: scale(1.1,1.1);
			}
			#issues li img {
				float: left;
				margin: 0 30px 0 50px;
			}
			#issues li h1 {
				font: 40px/1 'HeroicCondensedHeavy', Helvetica, Arial, sans-serif;
				text-align: left;
				color: #468c00;
				padding: 0;
				border: none;
				margin-bottom: .5em;
			}
			#issues li p {
				font: 20px 'Chronicle SSm A', 'Chronicle SSm B', serif;
				color: #fff;
				margin-right: 70px;
			}
	
	#grad_left,
	#grad_right {
		width: 100px;
		height: 350px;
		position: absolute;
		top: 0;
	}
		#grad_left {
	        left: 0;
	        background: url('../images/timelinr/grad_left.png') repeat-y;
		}
		#grad_right {
	        right: 0;
	        background: url('../images/timelinr/grad_right.png') repeat-y;
		}
	
	#next,
	#prev {
		position: absolute;
		top: 0;
		font-size: 70px;
		top: 100px;
		width: 10px;
		height: 32px;
		background-position: 0 0;
		background-repeat: no-repeat;
		text-indent: -9999px;
		overflow: hidden;
		border: none;
	}
		#next:hover,
		#prev:hover {
			background-position: 0 -32px;
		}
		#next {
			right: 0;
			background-image: url('http://www.jhsph.edu/sebin/d/k/next.png');
		}
		#prev {
			left: 0;
			background-image: url('http://www.jhsph.edu/sebin/n/k/prev.png');
		}
			a#next,
			a#prev {
				transition: none;
			}
			a#next:hover,
			a#prev:hover {
				background-color: inherit;
			}
			#next.disabled,
			#prev.disabled {
				opacity: 0.2;
			}

/* ===========================================================================
==== MEDIA QUERIES
============================================================================== */


/* VERY LARGE SCREENS (LARGE DISPLAYS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 1220px) {
	.timeline-wrapper {
		padding: 60px 125px;
		width: 1225px;
		margin-left: -125px;
	}
	#timeline, #issues li {
		width: 975px;
	}
	#dates {
		width: 975px !important;
		padding-left: 110px;
	}
}

/* MEDIUM SCREENS (TABLETS)
------------------------------------------------------------------------------ */
@media screen and (min-width: 740px) and (max-width: 979px) {
	.timeline-wrapper {
		padding: 60px 70px;
		width: 122%;
		margin-left: -70px;
	}
	#timeline, #issues li {
		width: 625px;
	}
	#issues li img {
		margin: 0 30px 0 15px;
	}
	#issues li p {
		font-size: 17px;
	}
	#dates {
		margin-left: 41px !important;
	}
	#dates li {
		width: 82px;
	}
	#dates .selected:before {
		left: 34px;
	}
}

/* SMALL SCREENS (PHONES)
------------------------------------------------------------------------------ */
@media screen and (max-width: 739px) {
	.timeline-wrapper {
		padding: 40px;
		width: 100%;
		margin-left: 0;
	}
	#issues {
		width: 644px !important;
		padding: 0;
	}
	#timeline, #issues li {
		width: 644px;
	}
	#issues li p {
		font-size: 18px;
	}
	#dates {
		margin-left: 0 !important;
	}
	#dates li {
		width: 92px;
	}
}






